name: First Workflow
on: workflow_dispatch
jobs: 
  first-job: 
    runs-on: ubuntu-latest
    steps:
      - name: greeting
        run:  echo "Hello Shanu"
      - name: execution info
        run:  |
            echo "Job executed , Shanu"
            echo "Job Sucessful , Shanu"
      
